 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> <!--begin::Sidebar Brand-->
            <div class="sidebar-brand"> <!--begin::Brand Link--> <a href="./index.ejs" class="brand-link"> <!--begin::Brand Image--> <img src="/adminlte/dist/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span class="brand-text fw-light">AdminLTE 4</span> <!--end::Brand Text--> </a> <!--end::Brand Link--> </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
            <div class="sidebar-wrapper">
                <nav class="mt-2"> <!--begin::Sidebar Menu-->
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                      
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon far fa-home"></i>
                            <p>
                            Beranda
                            </p>
                        </a>    
                    </li>
                    <li class="nav-header">Master</li>

                    <li class="nav-item">
                        <a href="/category" class="nav-link">
                            <i class="nav-icon far fa-calendar-alt"></i>
                            <p>
                            Kategori
                            </p>
                        </a>    
                    </li>

                    <li class="nav-item">
                        <a href="/nominal" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>
                            Nominal
                            </p>
                        </a>    
                    </li>
                    
                    <li class="nav-item">
                        <a href="/voucher" class="nav-link">
                            <i class="nav-icon far fa-image"></i>
                            <p>
                            Voucher
                            </p>
                        </a>    
                    </li>
                 
                    <li class="nav-header">Metode Pembayaran</li>

                    <li class="nav-item">
                        <a href="/bank" class="nav-link">
                            <i class="nav-icon fas fa-money-check"></i>
                            <p>
                            Bank
                            </p>
                        </a>    
                    </li>

                    <li class="nav-item">
                        <a href="/payment" class="nav-link">
                            <i class="nav-icon fas fa-money-check-alt"></i>
                            <p>
                            Jenis Pembayaran
                            </p>
                        </a>    
                    </li>
                    
                    <li class="nav-header">Transaksi</li>


                    <li class="nav-item">
                        <a href="/transaction" class="nav-link">
                            <i class="nav-icon fas fa-shopping-cart"></i>
                            <p>
                            Transaksi
                            </p>
                        </a>    
                    </li>

                    </ul> <!--end::Sidebar Menu-->
                </nav>
            </div> <!--end::Sidebar Wrapper-->
        </aside> <!--end::Sidebar--> <!--begin::App Main-->